Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
dyndnsd
dyndnsd.core
dyndnsd.conf
install-sh
missing
src/.deps/
src/.dirstamp
src/dyndnsd-dyndnsd.o
src/dyndnsd-ast.o
src/dyndnsd-lexer.o
src/dyndnsd-parser.o
src/dyndnsd-serr.o
src/lexer.c
src/parser.c
src/parser.h
stamp-h1
ylwrap
