# http://www.gnu.org/software/automake

Makefile
Makefile.in
COPYING
README
INSTALL
NEWS

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
config.h.in
/config.log
/config.status
/configure
/configure.scan
/depcomp
.deps
.dirstamp
/install-sh
/missing
stamp-h1

# build artifacts

*.o
a.out
dyndnsd

# lex and yacc artifacts

src/parse.h
src/parse.c
src/tokenize.c
y.output
ylwrap
